{% include ['header/header.html.twig', 'base.html.twig' ,] %}

{% block title %}{% endblock %}

{% block body %}
       <div class="container  mt-4">
             <h1>Mes Articles</h1>
  {% for message in app.flashes('success') %}
      <div class="alert alert-success mt-4">
           {{ message }}
      </div>
  {% endfor %} 
  <a href="{{ path('article.new')}}" class="btn btn-primary mt-4"> Create New Article </a>   
  <table class="table table-hover mt-4">
  <thead>
    <tr class="table-primary">
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">content</th>
      <th scope="col">Category</th>
      <th scope="col">Time of create</th>
    </tr>
  </thead>
  <tbody>
   {% for article in articles %}
     <tr class="table-active ">
      <th scope="row">{{article.id}}</th>
      <td>{{article.title}}</td>
      <td>{{article.content}}</td>
      <td>{{article.Category}}</td>
      <td>{{article.createdAt|date('Y-m-d H:i')}}</td>
      <td><a href="{{ path('article_edit', { id: article.id } ) }}" class="btn btn-info" > Edit </a></td>
      <td><a href="{{ path('article_delete', { id: article.id } ) }}" class="btn btn-danger" > Delete </a></td>
       
    </tr>
    </tbody>
        {% endfor %}
  
    </table>
      
       </div>
{% endblock %}
{% include 'footer/footer.html.twig' %}

